#MovieStore{
	.head{
		width:100%;
		background:pink;
		position:absolute;
		.intro{
			position:relative;
			top: 40px;
			left:0;
			display:flex;
			justify-content:space-between;
			.img{
				width:30%;
				img{
					width:100%;
				}
			}
		}

	}
}