* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

#MovieStore .head {
  padding: 0 20px;
  width: 100%;
  font-size: 14px; }
  #MovieStore .head .intro {
    display: flex;
    justify-content: space-around; }
    #MovieStore .head .intro .img {
      width: 144px;
      padding-right: 10px; }
      #MovieStore .head .intro .img img {
        width: 100%; }
    #MovieStore .head .intro .right {
      color: #000; }
      #MovieStore .head .intro .right h3 {
        padding-bottom: 30px; }
      #MovieStore .head .intro .right .min {
        width: 100%;
        position: absolute; }
        #MovieStore .head .intro .right .min span {
          color: #659d0e; }
        #MovieStore .head .intro .right .min .store {
          display: block;
          position: relative;
          width: 33px;
          height: 33px;
          background: #659d0e;
          line-height: 40px;
          text-align: center;
          top: -34px;
          right: -150px;
          color: #fff; }
      #MovieStore .head .intro .right .xiju {
        margin-top: 22px; }
      #MovieStore .head .intro .right .want, #MovieStore .head .intro .right .com {
        display: inline-block;
        font-size: 16px;
        width: 85px;
        height: 40px;
        border-radius: 20px;
        line-height: 40px;
        text-align: center;
        border: 1px solid #ccc; }
      #MovieStore .head .intro .right .com {
        color: #659d0e;
        border: 1px solid #659d0e;
        margin-left: 10px; }
    #MovieStore .head .intro p {
      padding-bottom: 10px; }

#MovieStore .word {
  width: 100%;
  text-align: center;
  color: #ff8600;
  padding: 10px 0;
  font-size: 16px; }

#MovieStore .btn {
  display: block;
  width: 100%;
  height: 45px;
  line-height: 45px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-align: center;
  padding: 0 20px; }
  #MovieStore .btn span {
    display: block;
    background: #ff8600;
    border-radius: 20px; }
