#header {
  padding: 18px 6px 13px 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center; }
  #header .left {
    flex: 1; }
    #header .left h2 {
      font-size: 20px;
      line-height: 24px; }
    #header .left ul {
      margin-top: 12px;
      margin-bottom: 12px; }
      #header .left ul li {
        padding: 0 6px 3px 0;
        float: left;
        width: 26px;
        height: 26px; }
        #header .left ul li img {
          width: 100%; }
  #header i {
    border-left: 1px solid #ccc;
    font-size: 26px;
    color: #1e7dd7;
    font-weight: 600; }
  #header i.icon-dingwei {
    padding: 0 5px 0 10px;
    font-size: 30px; }
