#MovieListNavbar {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #1c2635;
  color: white; }
  #MovieListNavbar div.left {
    width: 10%; }
  #MovieListNavbar a {
    display: block;
    width: 45%;
    float: left;
    color: white; }
