#Home .moviebox {
  width: 100%;
  overflow: hidden; }
  #Home .moviebox .head {
    width: 100%;
    height: 50px;
    line-height: 50px;
    box-sizing: border-box;
    padding: 0 15px; }
    #Home .moviebox .head h2 {
      float: left; }
    #Home .moviebox .head span {
      float: right;
      font-size: 26px;
      font-weight: bold; }
  #Home .moviebox .movies {
    position: relative;
    float: left;
    width: .86rem;
    margin: 0 1%; }
    #Home .moviebox .movies img {
      width: .86rem;
      height: 1.2rem; }
    #Home .moviebox .movies p {
      width: 100%;
      height: .3rem;
      line-height: .3rem;
      text-align: center;
      overflow: hidden; }
    #Home .moviebox .movies span {
      position: absolute;
      top: 3px;
      right: 3px;
      color: white;
      background: #659d0e;
      padding: 5px; }

#Home .duiqi {
  width: 100%; }

#Home .daynews {
  box-sizing: border-box;
  padding: 10px; }
  #Home .daynews .head {
    height: 50px;
    line-height: 50px; }
  #Home .daynews .news {
    overflow: hidden;
    margin-top: 10px; }
    #Home .daynews .news div.left {
      width: 40%; }
      #Home .daynews .news div.left img {
        width: 100%; }
    #Home .daynews .news div.right {
      box-sizing: border-box;
      width: 60%;
      padding: 0 10px; }
