#Home{
	.moviebox{
		width:100%;
		overflow:hidden;
		.head{
			width:100%;
			height:50px;
			line-height:50px;
			box-sizing:border-box;
			padding:0 15px;
			h2{
				float:left;
			}
			span{
				float:right;
				font-size:26px;
				font-weight:bold;
			}
		}
		.movies{
			position:relative;
			float:left;
			width:.86rem;
			margin:0 1%;
			img{
				width:.86rem;
				height:1.2rem;
			}
			p{
				width:100%;
				height:.3rem;
				line-height:.3rem;
				text-align:center;
				overflow:hidden;
			}
			span{
				position:absolute;
				top:3px;
				right:3px;
				color:white;
				background:#659d0e;
				padding:5px;
			}
		}
	}
	.duiqi{
		width:100%;
	}
	.daynews{
		box-sizing:border-box;
		padding:10px;
		.head{
			height:50px;
			line-height:50px;
		}
		.news{
			overflow:hidden;
			margin-top:10px;
			div.left{
				width:40%;
				img{
					width:100%;
				}
			}
			div.right{
				box-sizing:border-box;
				width:60%;
				padding:0 10px;
			}
		}
	}
}